/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('/img/paven.png');
}

/* Estilos para enlaces */
a {
    color: #529125;
}

a:hover {
    color: #285616;
}

/* Cabecera */
header {
    width: 100%;
    text-align: center;
}

header img {
    width: 140px;
    display: block;
    margin: 0 auto;
}

header h1 {
    font-size: 40px;
    color: #70b231;
    text-shadow: 0px 2px 4px #333333;
    text-align: center;
}

/* Menú */
nav {
    width: 100%;
    background-color: #333333;
    height: 40px;
    box-shadow: 0px 0px 2px grey;
}

nav ul {
    width: 1130px;
    margin: 0 auto;
}

nav li {
    float: left;
    line-height: 40px;
}

nav li:hover {
    background-color: #70b231;
    box-shadow: 0px 0px 4px grey inset;
}

nav li a {
    display: block;
    color: white;
    margin: 0 15px;
}

/* Contenido Principal */
#content {
    width: 1250px;
    min-height: 1100px;
    margin: 0 auto;

}

#aside {
    float: left;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;    
    margin-top: 25px;
    margin-right: 25px;
}

#aside .widget {
    width: 180px;
    margin: 0 auto;
}

#aside button {
    background-color: #70b231;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
}

#aside button:hover {
    box-shadow: 0px 0px 2px gray;
}

/* Secciones */
#sections {
    float: left;
    width: 75%;
}

#sections section {
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 0px 4px #c9c9c9;
}

#sections p {
    text-align: justify;
}

/* Pie de página */
footer {
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 2px gray;
}

/*Diferentes tamaños de pantalla*/ 
@media (max-width: 768px) {
    body {
    background-color: lightgreen;
    }
   }

   @media (max-width: 500px) {
    body {
    background-color: lightcoral;
    }
   }